a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margine: 0;
}

#logo {
    text-align: center;
    margin: 0;
}

#logo {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li{
    display: inline-block;
}


a  {
    color: honeydew;
}

nav a.selected{
    color:black;
}

nav a.selected, nav a:hover{
    color:black;
}

.social-media-icon{
    width:30px;
    height:30px;
    margin:0 10px;
}

#gallery{
    margin:0;
    padding:0;
    list-style:none;
}
#gallery li{
    float: left;
    width: 45%;
    margin:2.5%;
}

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #blue;
}

nav a{
    font-weight: 800;
    padding: 15px 10px;
}